<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                   
                    <string>software-package</string>
                  
                    <key>url</key>
                    
                    <string>https://down.tutuapp.net/apps/zb/003/39/23/70/5b39c3d61a2ab4e164cf62b5.ipa

                    </string>

                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.tweakbox.SnipersvsThievesHack</string>
                <key>bundle-version</key>
                <string>1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string> 😊SnipersvsThievesHack @kistn😊
</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>